@page "/authors"

<PageTitle>Cloud Library - Authors</PageTitle>

<h1>Authors</h1>

<UseGetAllAuthors Context="authors">
    <LoadingContent>
        <p>Loading...</p>
    </LoadingContent>
    <ChildContent>
        <div class="row">
            @foreach (var author in authors.Authors.Items)
            {
                <div class="col-md-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@author.First_name @author.Middle_name @author.Last_name</h5>
                            <ul class="list-group list-group-flush">
                                @foreach (var book in author.Books.Items)
                                {
                                    <li class="list-group-item">@book.Title</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </ChildContent>
</UseGetAllAuthors>

@code {

}
